<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum lectus ut ipsum ullamcorper, sagittis rhoncus ante finibus. Ut in enim odio. Mauris placerat enim massa, sed egestas dui tristique in. Sed tempus fringilla interdum. Phasellus euismod cursus odio. Suspendisse potenti. Cras eu augue libero. Suspendisse eget lectus vel est iaculis hendrerit. Aenean eleifend mauris id mollis facilisis. Ut maximus dui cursus felis bibendum lacinia.
        Maecenas feugiat lorem vel lectus semper, quis consectetur orci congue. Praesent non eleifend erat. Sed imperdiet non metus ut scelerisque. Etiam non nibh nunc. Proin vulputate, lorem id imperdiet posuere, lectus dui tincidunt purus, eget laoreet risus neque nec tellus. Fusce eget urna a ante tincidunt sollicitudin. Proin ornare at nisl ut venenatis. Phasellus sed dapibus nulla, nec ornare ligula. Morbi a nulla commodo, elementum massa eget, efficitur tortor. Donec arcu diam, hendrerit vitae pulvinar vel, consequat ut ante. 
    </p>
</article>